body {
    background: #efefef ;
    color: #666;
    font-family: "Ubuntu",Helvetica,Verdana, sans-serif;
    font-size: 12px;
    line-height: 1.4;
    margin: 0;
    padding-bottom: 20px;
}

footer {
    border-top: 1px solid #e5e5e5;
    color: #777;
    margin-top: 2em;
    padding-top: 2em;
}

footer p {
    text-align: center;
}

h1,h2,h3,header,.label-text {
    font-family: "montserrat",Helvetica,Verdana, sans-serif;
}

h1 {
    margin: 0;
}

header {
    background-image: url(../img/Wax_Skull_web.jpg);
    background-position: 100% 50%;
    background-size: cover;
    color: inherit;
    height: 15em;
    margin-bottom: 30px;
    margin-top: 0;
    overflow: hidden;
    padding-bottom: 30px;
    padding-top: 1em;
    text-align: center;
}

header h1 {
    color: #fff;
    display: inline-block;
    float: left;
    font-size: 12em;
    letter-spacing: -.08em;
    margin-top: 73px;
}

nav li {
    color: #fff;
    display: inline-block;
    float: right;
    font-size: 2em;
    margin-right: 1em;
    text-decoration: none;
}

nav ul {
    background: rgba(20,20,20,.8));
}

nav .line {
    background: #fff;
    border-radius: 1em;
    height: .2em;
    margin-top: .25em;
    width: 2em;
}

nav .line:first-of-type {
    margin-top: .7em;
}

nav li:first-child {
    cursor: pointer;
    display: none;
    float: right;
}

h1 a,nav li a {
    color: #fff;
    text-decoration: none;
}

#container {
    margin: auto;
    width: 100%;
}

.container {
    margin: 0 auto;
    moz-transition: all 1s ease;
    o-transition: all 1s ease;
    position: relative;
    transition: all 1s ease;
    webkit-transition: all 1s ease;
    width: 100%;
}

#filters {
    display: table;
    list-style: none;
    margin: auto;
    padding: 0 0 2em;
}

#filters div {
    color: #666;
    float: left;
    font-size: 2em;
    margin: 0 .3em;
    padding: .3em .5em;
}

#filters li {
    float: left;
}

#filters li span {
    color: #666;
    cursor: pointer;
    display: block;
    padding: 5px 20px;
    text-decoration: none;
}

#filters li span.active {
    background: #666;
    color: #fff;
}

#portfolio {
    display: inline-block;
    moz-transition: all 1s ease;
    o-transition: all 1s ease;
    padding-bottom: 2em;
    transition: all 1s ease;
    webkit-transition: all 1s ease;
}

#portfoliolist {
    margin: 0 auto;
    moz-transition: all 1s ease;
    o-transition: all 1s ease;
    position: relative;
    transition: all 1s ease;
    webkit-transition: all 1s ease;
    width: 91.8%;
}

#portfoliolist .portfolio {
    display: none;
    float: left;
    margin: 1%;
    moz-box-sizing: border-box;
    o-box-sizing: border-box;
    overflow: hidden;
    webkit-box-sizing: border-box;
    width: 23%;
}

#project-list {
    margin: auto;
    max-width: 980px;
}

#contact {
    clear: both;
    display: block;
    height: 300px;
    margin: auto;
    width: 90%;
}

#contact form {
    margin: auto;
    width: 94%;
}

#contact input {
    height: 3em;
    width: 48%;
}

#contact input:first-child {
    margin-right: 2%;
}

#contact textarea {
    height: 10em;
    margin-top: 2%;
    width: 99%;
}

#contact button {
    background: #1e8bbe;
    border: 2px solid #fff;
    border-radius: .5em;
    color: #fff;
    font-size: 2em;
    font-style: uppercase;
    margin-top: 2%;
    padding: .5em;
}

.filter {
    font-size: 2em;
}

.full-width {
    background: #fff;
    width: 100px;
}

.alignleft {
    float: left;
    padding: 0 10px 10px 0;
}

.alignright {
    float: right;
    padding: 0 0 10px 10px;
}

.clear {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.clearfix:before,.clearfix:after,.row:before,.row:after {
    content: '\0020';
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}

.portfolio .label {
    bottom: -40px;
    height: 40px;
    position: absolute;
    width: 100%;
}

.portfolio .label-bg {
    background: #666;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.portfolio .label-text {
    color: #fff;
    padding: 5px 8px;
    position: relative;
    z-index: 500;
}

.portfolio .text-category {
    display: block;
    font-size: 9px;
}

.portfolio img {
    max-width: 100%;
    position: relative;
}

.portfolio-wrapper {
    background: #666;
    cursor: pointer;
    overflow: hidden;
    position: relative!important;
}

.project {
    background: #eee;
    border-radius: 1em;
    display: inline-block;
    float: left;
    height: 20em;
    margin: 1%;
    padding: 1em;
    width: 31%;
}

.project a {
    display: inline-block;
    float: right;
    vertical-align: bottom;
}

.projectPage {
    margin: auto;
    width: 90%;
    max-width: 1200px;
}

.projectPage h1 {
    font-size: 5em;
    letter-spacing: -.05em;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
}

.projectPage>img {
    float: right;
    margin-bottom: 2em;
    width: 48%;
}

.projectPage>p {
    float: left;
    font-size: 2em;
    width: 48%;
}

.relatedProjects {
    clear: both;
    margin: auto;
    width: 90%;
    max-width: 1200px;
    padding-top: 2em;
}

.relatedProjects > div {
    float: left;
    margin: 1%;
}

.relatedProjects h2 {
    border-bottom: 1px solid #e5e5e5;
}

.relatedProjects .portfolio-wrapper {
    float: left;
    margin: 1%;
    width: 23%;
}

.relatedProjects .portfolio .label {
    bottom: 0;
    opacity: 0;
}

.relatedProjects a:hover .portfolio .label {
    opacity: 1;
    transition: opacity .3s linear;
}

.relatedProjects .portfolio .text-category {
    display: none;
}

.row,.clearfix {
    zoom: 1;
}

.row:after,.clearfix:after {
    clear: both;
}

.row {
    float: left;
    margin: 1%;
    width: 30%;
}

#resume {
    background: #fff;
    clear: both;
    display: block;
    margin: auto;
    overflow: hidden;
    padding-bottom: 2em;
    padding-top: 2em;
    width: 90%;
}

#resume a,#resume a:visited {
    color: #11ABB0;
}

#resume a:hover,#resume a:focus {
    color: #313131;
}

#resume h1 {
    font: 18px/24px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#resume h1 span {
    border-bottom: 3px solid #11ABB0;
    padding-bottom: 6px;
}

#resume h3 {
    font: 25px/30px;
}

#resume .header-col {
    padding-top: 9px;
}

#resume .main-col {
    padding-right: 10%;
}

#resume h2 {
    font-size: 3em;
    margin: 0;
}

#resume .info {
    color: #6E7881;
    font: 16px/24px;
    margin-bottom: 18px;
    margin-top: 9px;
}

#resume .info span {
    margin-left: 5px;
    margin-right: 5px;
}

#resume .date {
    font: 15px/24px;
    margin-top: 6px;
}

.education,.work,.skill {
    float: left;
    margin: 0 2em;
    width: 100%;
    color: #666;
}

.education,.work {
    border-bottom: 1px solid #E8E8E8;
    margin-bottom: 2em;
    padding-bottom: 2em;
}

.work .row {
    height:18em;
}

.bars > ul {
    padding-start: 0;
    webkit-padding-start: 0;
}

.bars {
    float: left;
    margin: auto;
    padding: 0;
    text-align: left;
    width: 48%;
}

.bars .skills {
    list-style: none;
    margin-top: 36px;
    width: 95%;
}

.skillCopy {
    width: 90%;
}

.bars h3 {
    text-align: center;
    font-size: 2em;
}

.bars ul {
    padding-left: 0;
}

.bars li {
    background: #ccc;
    border-radius: .2em;
    height: 3em;
    margin-bottom: 1.8em;
    position: relative;
}

.bars li em {
    color: #fff;
    font: 15px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-left: 1em;
    position: relative;
    text-transform: uppercase;
    top: .5em;
}

.bar-expand {
    background: #313131;
    border-radius: .2em 0 0 .2em;
    display: inline-block;
    height: 3em;
    left: 0;
    line-height: 3em;
    margin: 0;
    padding-right: 24px;
    position: absolute;
    top: 0;
}

.indesign {
    background: #d03081;
    moz-animation: indesign 2s ease;
    webkit-animation: indesign 2s ease;
    width: 90%;
}

.photoshop {
    background: #2fc9f9;
    moz-animation: photoshop 2s ease;
    webkit-animation: photoshop 2s ease;
    width: 70%;
}

.illustrator {
    background: #fa791b;
    moz-animation: illustrator 2s ease;
    webkit-animation: illustrator 2s ease;
    width: 85%;
}

.wordpress {
    background: #1e8bbe;
    moz-animation: wordpress 2s ease;
    webkit-animation: wordpress 2s ease;
    width: 55%;
}

.css {
    background: #0f6fc1;
    moz-animation: css 2s ease;
    webkit-animation: css 2s ease;
    width: 65%;
}

.html5 {
    background: #e04f15;
    moz-animation: html5 2s ease;
    webkit-animation: html5 2s ease;
    width: 55%;
}

.uxDesign {
    background: #000;
    moz-animation: indesign 2s ease;
    webkit-animation: indesign 2s ease;
    width: 70%;
}

.photographySkill {
    background: #222;
    moz-animation: photoshop 2s ease;
    webkit-animation: photoshop 2s ease;
    width: 78%;
}

.graphicDesign {
    background: #444;
    moz-animation: illustrator 2s ease;
    webkit-animation: illustrator 2s ease;
    width: 85%;
}

.videography {
    background: #666;
    moz-animation: wordpress 2s ease;
    webkit-animation: wordpress 2s ease;
    width: 55%;
}

.frontEndDev {
    background: #888;
    moz-animation: css 2s ease;
    webkit-animation: css 2s ease;
    width: 65%;
}

.creativeStrategy {
    background: #bbb;
    moz-animation: html5 2s ease;
    webkit-animation: html5 2s ease;
    width: 73%;
}

.slideDown {
    background: rgba(20,20,20,.8);
    height: 8em;
    margin-top: 0;
    padding: 2em;
    width: 100%;
}

.slide {
    float: right;
    left: 0;
    margin: auto;
    opacity: 1;
    position: absolute;
    transition: opacity .4s;
    width: 100%;
    z-index: 1;
}

.slide img {
    display: block;
    width: 90vw;
    height: 30vw;
    margin: auto;
    object-fit: cover;  
    max-width: 1200px;  
}

.carousel-slide {
    cursor: pointer;
    float: right;
    height: 100%;
    margin-top: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9;
}

.carousel {
    height: 30vw;
    margin: auto auto 2em;
    text-align: center;
}

.carousel:hover {
    opacity: .7;
}

.carousel input {
    height: 30vw;
    margin-top: 28em;
}

.carousel-slide:checked {
    z-index: 8;
}

.carousel-slide:nth-child(1):checked {
    float: left;
    z-index: 9;
}

.carousel-slide:nth-child(1):checked ~ .carousel-slide {
    float: left;
    z-index: 8;
}

.carousel-slide:checked + .slide,.carousel-slide:nth-child(1):checked ~ .carousel-slide + .slide {
    opacity: 0;
}

.carousel-slide:checked:nth-child(1):checked,.carousel-slide:nth-child(1):checked ~ .carousel-slide:checked {
    z-index: 9;
}

.carousel-slide:nth-child(1):checked + .slide,.carousel-slide:nth-child(1):checked ~ .carousel-slide:checked + .slide {
    opacity: 1;
}


@media (min-width: 786px) and (max-width: 1231px) {
    .row {
        margin: 1%;
        width: 30%;
    }

    #portfoliolist .portfolio {
        margin: 1%;
        width: 31.333333%;
    }

    header h1 {
        font-size: 10em;
        margin-top: 94px;
    };
}


@media (max-width: 1075px) {
    header h1 {
        font-size: 10em;
        margin-top: 60px;
    };
}

@media (max-width: 1055px) {
    header h1 {
        font-size: 8em;
        margin-top: 115px;
    };
}

@media (max-width: 1000px) {
    .row {
        width: 46%;
    };
}


@media (max-width: 927px) {
    header h1 {
        font-size: 8em;
        margin-top: 82px;
    };
}

@media (min-width: 500px) and (max-width: 900px) {
    .project {
        width: 47%;
    }
}

@media screen and (max-width: 786px) {
    .container {
        width: 95%;
    }

    #portfoliolist .portfolio {
        margin: 1%;
        width: 48%;
    }

    .row {
        width: 92%;
    }

    .relatedProjects .portfolio-wrapper {
        width: 48%;
    }

    nav {
        width: 100%;
    }

    nav li {
        display: block;
        float: none;
    }

    nav li:first-child {
        display: block;
        position: absolute;
        right: .5em;
        top: .25em;
    }

    nav ul {
        height: 0;
        overflow: hidden;
        transition: height 1s;
    }

    header h1 {
        font-size: 7em;
        margin-top: 113px;
    }

    .projectPage>img {
        width: 100%;
    }

    .projectPage h1 {
        font-size: 7vw;
    }

    .projectPage>p {
        font-size: 1.5em;
        margin: 1em auto;
        width: 98%;
    }

    .slide img {
        height: 60vw;
    }

    .carousel input {
        height: 60vw;
    }

    .carousel {
        height: 60vw;
        margin: auto auto 1em;
    };
}

@media (max-width: 555px) {
    header h1 {
        font-size: 6em;
        margin-top: 125px;
    };
}

@media screen and (max-width: 500px) {
    #filters li {
        font-size: .75em;
    }

    .bars {
        width: 91%;
    }

    .project {
        width: 98%;
    }

    .relatedProjects div {
        float: left;
        margin: auto auto 1em;
        width: 98%;
    }

    .portfolio img {
        width: 100%;
        position: relative;
    }

    #portfoliolist .portfolio {
        width: 100%;
    }   

    .relatedProjects .portfolio-wrapper {
        width: 100%;
    }

    .relatedProjects .portfolio .label {
        bottom: 0px;
        height: 40px;
        position: absolute;
        width: 100%;
    }

    .relatedProjects .portfolio .label {
        bottom: -10px;
        opacity: 1;
    }

    .portfolio .text-category {
        display: none;
    }  
}

@media (max-width: 440px) {
    header h1 {
        font-size: 4em;
        margin-top: 145px;
    }
    #filters {
        display: none;
    }

    #filters li {
        font-size: 1em;

    }

    .portfolio .label {
        bottom: 0px;
        height: 40px;
        position: absolute;
        width: 100%;
    };
}